# Add any directories, files, or patterns you don't want to be tracked by version control

# Build output directories
build.msvc/
build.macos/
build.ios/
build.android/
build.linux/

# VS config dirs
.vs/
.vscode/

# binary file
*.bin

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Project Temp Files
*.user
*.opensdf
*.sdf
*.suo
*.pdb
*.vc.db
*.vc.opendb